parameters:
  paths:
    - src
  level: 9
  tmpDir: report/phpstan
  ignoreErrors:
    - '#does not accept#'
    - '#Binary operation#'
    - '#Access to an undefined property#'
    - '#function number_format expects int#'
    - '#expects TinyBlocks\\Math\\BigNumber#'
    - '#type specified in iterable type array#'
  reportUnmatchedIgnoredErrors: false
