parameters:
  paths:
    - src
  level: 9
  tmpDir: report/phpstan
  ignoreErrors:
    - '#Binary operation#'
    - '#of function sprintf expects#'
    - '#Access to an undefined property#'
    - '#expects TinyBlocks\\Math\\BigNumber#'
    - '#type specified in iterable type array#'
  reportUnmatchedIgnoredErrors: false
